.u-section-1 {
  background-image: url("images/farmers-market-fresh-produce-vegetables-1068x713.jpg");
  background-position: 50% 50%;
  height: 100%;
}
body, html {
  height: 100%;
}
.u-section-1 .u-sheet-1 {
  min-height: 610px;
}

.u-section-1 .u-shape-1 {
  width: 778px;
  height: 574px;
  margin: 7px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  width: 311px;
  margin: -562px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 36px 688px 60px 207px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 588px;
    margin-left: 107px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-1 .u-shape-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 475px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 289px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 295px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 182px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 95px;
  }
}